@model List<GetTestimonialQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid px-4">
	<br />
	<table class="table table-bordered">
		<tr>
			<th>#</th>
			<th>Ad Soyad</th>
			<th>Açıklama</th>
			<th>Konum</th>
			<th>Resim</th>
			<th>İşlemler</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<th>@item.TestimonialId</th>
				<td>@item.NameSurname</td>
				<td>@item.Description</td>
				<td>@item.City</td>
				<td><img src="@item.ImageUrl" style="height:100px;width:100px" /></td>
				<td><a href="/AdminTestimonial/DeleteTestimonial/@item.TestimonialId" class="btn mb-1 btn-rounded btn-warning">Sil</a>
				<a href="/AdminTestimonial/UpdateTestimonial/@item.TestimonialId" class="btn mb-1 btn-rounded btn-secondary">Güncelle</a></td>
			</tr>
		}
	</table>
	<a href="/AdminTestimonial/CreateTestimonial" class="btn mb-1 btn-rounded btn-primary">Yeni Referans Girişi</a>
</div>

